.bg-header {
  background-color: #faf6f3;
}
.login p {
  margin: 0;
  display: block;
  padding: 0.3rem 0.3rem;
  font-size: small;
  color: #ccc;
  cursor: pointer;
}
.login p:hover {
  color: #fff;
  text-decoration: underline;
}
.header {
  border-bottom: 5px solid #807862;
}
.bg-login {
  background-color: rgb(150, 148, 148);
}
