<div class="container">
  <div class="p-3">
    <h3>Detalle del prodcuto</h3>
  </div>

  <div class="row mb-5" *ngFor="let product of producto">
    <div class="col-12 col-md-6">
      <img
        src="{{ product.imagen }}"
        class="img-thumbnail img-fluid"
        alt="..."
      />
    </div>
    <div class="col-12 col-md-6">
      <div class="pt-5 text-center">
        <h5>{{ product.nombre }}</h5>
      </div>

      <p>{{ product.descripcion }}</p>

      <h6 class="text-uppercase">{{ product.clasificacion }}</h6>
      <div class="product__item__text">
        <h5>{{ product.precio | currency: "ARS":"$":"1.0-2" }}</h5>
      </div>
      <a
        class="btn btn-outline-secondary"
        (click)="agregarAlCarrito(product.id)"
        >Agregar al carrito</a
      >
    </div>
  </div>
</div>
