<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="mt-3">
      <h2>Carrito</h2>
    </div>

    <div class="row mt-3">
      <div class="col-lg-8">
        <div class="shopping__cart__table">
          <table>
            <thead>
              <tr>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of carrito">
                <td class="product__cart__item">
                  <div class="product__cart__item__pic">
                    <img src="" />
                  </div>
                  <div class="product__cart__item__text">
                    <h5>{{ producto.nombre }}</h5>
                    <h6>{{ producto.clasificacion }}</h6>
                  </div>
                </td>
                <td class="quantity__item">
                  <div class="quantity">
                    <div class="pro-qty-2">
                      <span
                        class="fa fa-angle-up dec qtybtn"
                        (click)="aumentarCantidad(producto.id)"
                      >
                      </span>
                      <input
                        type="text"
                        value="{{ producto.cantidad }}"
                        readonly
                      />
                      <span
                        class="fa fa-angle-down inc qtybtn"
                        (click)="restarCantidad(producto.id)"
                      ></span>
                    </div>
                  </div>
                </td>
                <td class="cart__price">
                  {{ producto.precioTotal | currency: "ARS":"$":"1.2-2" }}
                </td>
                <td class="cart__close inc qtybtn">
                  <span (click)="borrarProductoDelCarrito(producto.id)">
                    <i class="fas fa-times pointer"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cart__total">
          <h6>Cart total</h6>
          <ul>
            <li>
              Subtotal
              <span>{{
                precioTotalDelCarrito | currency: "ARS":"$":"1.2-2"
              }}</span>
            </li>
            <li>
              Total
              <span>{{
                precioTotalDelCarrito | currency: "ARS":"$":"1.2-2"
              }}</span>
            </li>
          </ul>
          <a href="#" class="primary-btn">Proceder a realizar el pago</a>
        </div>
      </div>
    </div>
  </div>
  <script></script>
</section>
<!-- Shopping Cart Section End -->
